.landing-outer {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
  position: fixed;
  z-index: -2;
}
.landing-overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
  height: 100vh;
  background: linear-gradient(#ffffff00, #000000);
}
.landing-outer-overlay-box {
  width: 100%;
  height: 800px;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
}
.ip-box {
  width: 100%;
  height: 30px;
  background-color: #3f464b;
  position: absolute;
  top: 61px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
}
.ip-box:hover {
  cursor: pointer;
}
.copy-ip {
  width: 200px;
  height: 30px;
  position: absolute;
  top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header {
  font-size: 100px;
  color: white;
  width: 600px;
  height: 400px;
  text-align: center;
  position: absolute;
  top: 150px;
  display: flex;
  flex-wrap: wrap;
  font-weight: 900;
}
.line-one,
.line-two,
.line-three {
  width: 100%;
  height: 33%;
  transition: 0.3s;
}
.l {
  transition: 0.5s;
  position: relative;
  padding: 0px 0px;
}
.l:hover {
  cursor: default;
  /* font-size: 120px;
  top: 0px; */
}
.countdown {
  width: 341px;
  height: 51px;
  background-color: #2a2e31;
  position: absolute;
  top: 620px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
  font-size: 18px;
  padding-left: 40px;
  z-index: 2;
}
footer {
  width: 100%;
  height: 600px;
  background-color: #2a2e31;
  position: absolute;
  top: 95vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.forum-button,
.shop-button {
  height: 440px;
  width: 35%;
  background-color: #121414;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 47px;
  font-weight: 900;
  letter-spacing: 1px;
  transition: 0.3s;
  position: relative;
}
.forum-button:hover,
.shop-button:hover {
  cursor: pointer;
  height: 450px;
  width: 37%;
}
.forum-picture,
.shop-picture {
  background-size: cover;
  background-position: bottom;
  background-repeat: none;
  position: absolute;
  z-index: 2;
}
.forum-picture {
  background-image: url("../assets/forum.png");
  width: 330px;
  height: 270px;
  right: -150px;
  bottom: -50px;
}
.shop-picture {
  background-image: url("../assets/shop.png");
  width: 350px;
  height: 250px;
  right: -150px;
  bottom: -50px;
}
.icons-outer {
  width: 1200px;
  height: 200px;
  position: absolute;
  top: 68vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.maze-box,
.sword-box {
  width: 150px;
  height: 150px;
}
.maze-icon,
.sword-icon {
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.534);
  transition: 0.3s;
}
.maze-text,
.sword-text {
  margin-top: 10px;
  display: flex;
  align-content: center;
  justify-content: center;
  color: rgb(255, 255, 255, 0.5);
}
.maze-icon:hover,
.sword-icon:hover {
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  transition: 0.3s;
}
